
<footer id="footer">
    <!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2021 Lập trình ứng dụng cơ sở dữ liệu trên Web Inc. All rights reserved.</p>
                <p class="pull-right">Thiết kế bởi <span><a target="_blank" href="#">Nhóm 3 - HaUi</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
